/*body{
    text-align: center
}*/

body{
    background-color:cornsilk;
    /*background-image: url(choo.png);*/
}

body{
    background-image: url(choo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 5000px;
}

h1{
    color:white;
    background-color: #ff9933;
    margin: 30px 0 30px 0;
}

h3{
    color:white;
    background-color:#ffcc00;
}

.abc{
    background-color:  #e2eba3;
}

.efg{
    background-color: #ff6c94;
}