/*body{
    text-align: center
}*/

body{
    background-color:cornsilk;
    /*background-image: url(choo.png);*/
}

body{
    background-image: url(choo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 5000px;
}

div{
    margin-left: 40px;
}

h1{
    color:white;
    background-color: #ff9933;
    margin: 30px 0 30px 0;
}

h3{
    color:white;
    background-color:#ffcc00;
}

.abc{
    /*background-color:  #e2eba3;*/
    background: linear-gradient(transparent 30%, #a7eb81 0%);
    width: 135px;
    margin-left: 30px;
}

.efg{
    /*background-color: #ff6c94;*/
    background: linear-gradient(transparent 30%, #ffadc3 0%);
    width: 58px;
    margin-left: 30px;
}

iframe{
    margin-left: 40px;
}